body{
    color: #fff;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

body {
    overflow-x: hidden;
}

.icon {
    width: 40px;
}

#discord {
    width: 90px;
}

#dev {
    width: 20px;
}

#icons {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#icons-Mob {
    display: none;

}
footer{
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2;
}

footer em{
    color: #fff;
}
@media(max-width: 700px) {
    #icons {
        display: none;
    }

    #icons-Mob {
        display: flex;
        align-items: center;

    }

    .c-logo {
        max-width: 100%;
        height: 100%;
    }
}

/* Header  */
.container {
    width: 70%;
    margin: auto;
}
@media(max-width: 700px){
    .container{
        width: 100%;
    }
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease;
}

.header.fixed {
    background-color: #000;
    position: fixed;
}

.header .brand-name {
    padding: 15px 0;
}

.header .brand-name a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.header.fixed .brand-name a {
    color: #fff;
}

.header .nav-toggle {
    height: 34px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
    
}

.header.fixed .nav-toggle {
    border-color: #ffffff;
}

.header .nav-toggle span {
    height: 1px;
    display: block;
    width: 16px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.5s ease;
}

.header .nav-toggle span::before,
.header .nav-toggle span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span::before,
.header.fixed .nav-toggle span::after {
    background-color: #fff;
}

.header .nav-toggle span::before {
    transform: translateY(-6px);
}

.header .nav-toggle span::after {
    transform: translateY(6px);
}

.header .nav {
    padding: 0 15px;
}

.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 30px;
    vertical-align: -webkit-baseline-middle;
}

.header .nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 25px 0;
    display: block;
    transition: all 0.3s ease;
}

.header.fixed .nav ul li a {
    color: #fff !important;
}

.header.fixed .nav ul li a:hover,
.header .nav ul li a:hover {
    color: #fff !important;
}

@media(min-width: 768px) {
    .header .nav {
        display: block !important;
    }
}


@media(max-width: 767px) {
    .header {
        padding: 7px 0;
    }

    .header .brand-name {
        padding: 15px 10px;
    }

    .header .brand-name a {
        letter-spacing: 0;
    }

    .header .nav-toggle {
        display: flex;
        margin-left: 65%;
        
    }

    .header .nav {
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #000000;
        padding: 0;
        display: none;
    }

    .header.fixed .nav {
        border-top: 1px solid #cccccc;
    }

    .header .nav ul li {
        display: block;
        margin-right: 25px;
    }

    .header.fixed .nav ul li a,
    .header .nav ul li a {
        color: #fff;
        padding: 15px 0;
    }
}